# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django related files
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pyo
*.pyc
local_settings.py
.env

# Ignore Visual Studio Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore system files
.DS_Store
Thumbs.db
